{% extends 'index.html' %}
{% block title %}Inicia Sesión{% endblock %}

{% block content %}
  <h1>Inicia sesión</h1>

  {% for mensaje in messages %}
    <p style="color: var(--color-primario); text-align: center;">{{ mensaje }}</p>
  {% endfor %}

  <div id="formulario">
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="boton_acceso">Acceder</button>
      <label><input type="checkbox" name="remember_me"> Recuérdame</label>
    </form>
  </div>

  <p style="text-align: center;">
    ¿Aún no tienes cuenta?
    <a href="{% url 'registro' %}">¡Regístrate!</a>
  </p>
  <p style="text-align: center;">
    <a href="{% url 'index' %}">Vuelve al inicio</a>
  </p>
{% endblock %}

