{% extends 'blog.html' %}
{% load static %}
{% block title %}Lista de Posts{% endblock %}

{% block content %}
<h1 class="titulo">Lista de posts</h1>

{% if user.is_authenticated %}
  <a href="{% url 'post_create' %}" aria-label="Crear un nuevo post">Crea un nuevo post</a>
{% endif %}
<br><br>

<a href="{% url 'tag_list' %}" aria-label="Ir a la lista de tags">Lista de tags</a>

<br>

<div class="grid">
</div>


<!-- Controles de paginación generados por JS -->
<div class="paginacion">
  <button id="prev-btn" disabled>Anterior</button>
  <span id="page-info">Página 1</span>
  <button id="next-btn">Siguiente</button>
</div>

{% endblock %}
{% block extra_js %}
<script src="{% static 'js/post_list.js' %}"></script>
{% endblock %}

