{% extends 'index.html' %}
{% block title %}Registrarse{% endblock %}
{% block content %}

          <h1 style="text-align: center;">Regístrate</h1>

      {% for mensaje in messages %}
        <p style="color: var(--color-primario); text-align: center;">{{ mensaje }}</p>
      {% endfor %}

      <div id="formulario">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="boton_acceso">Registrarse</button>
        </form>
      </div>

      <p style="text-align: center;">
        <a href="{% url 'login' %}">¿Ya tienes cuenta? ¡Loguéate!</a>
      </p>
      <p style="text-align: center;">
        <a href="{% url 'index' %}">Inicio</a>
      </p>
    
{% endblock %}
{% block extra_js %}{% endblock %}

